node_modules/
**/node_m***les/

coverage/
**/coverage/
/ap***ode/coverage/

test-results/
**/***t-results/
/app/node/test-result***
dist/
**/dist/
/app/node/dist/
***ild-scan-package/
**/build-scan-***kage/
/app/node/build-scan-packa***

.scannerwork/
**/.scannerwork/***rivy-*.json
trivy-*.txt
sbom*.js***
artifact-security-input/
ci-evi***ce/
all-artifacts/

*.log
npm-de***.log*
yarn-debug.log*
yarn-error***g*

.DS_Store
Thumbs.db

.vscode***idea/